---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<Header />
		<main class="grow md:container md:mx-auto">
			<section class="flex flex-col gap-2">
				<div class="flex items-end gap-2">
					<h1 class="text-xl font-bold">YungTse Teng</h1>
				</div>

				<p>
					An Software Engineer building web applications, learning new
					technologies, and sharing knowledge.
				</p>
				<div class="flex gap-2">
					<a href="https://github.com/withastro/astro" target="_blank">
						<span class="text-sm underline"> GitHub </span>
						<span class="sr-only">Go to YungTse's GitHub repo</span>
					</a>
					<a href="https://github.com/withastro/astro" target="_blank">
						<span class="text-sm underline"> LinkedIn </span>
						<span class="sr-only">Go to YungTse's LinkedIn</span>
					</a>
				</div>
			</section>
			<section class="container my-8">
				<ul class="m-0 flex list-none flex-col gap-8 p-0 md:gap-8">
					{
						posts.map((post, idx) => (
							<li class="group w-full">
								<a href={`/blog/${post.id}/`} class="flex items-center gap-4">
									<h4 class="m-0 text-xl leading-tight transition-colors duration-200 group-hover:underline">
										{post.data.title}
									</h4>
									<p class="m-0 text-xs text-(--gray) transition-colors duration-200 group-hover:text-(--accent)">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
</Layout>
