---
import type { CollectionEntry } from 'astro:content';
import Layout from './Layout.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import Footer from '@/components/Footer.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<Layout title={title} description={description}>
	<Header />
	<main class="md:container md:mx-auto">
		<article class="prose w-full max-w-none">
			<div class="text-center">
				<h1 class="text-3xl">{title}</h1>
				<div class="date">
					<FormattedDate date={pubDate} />
					{
						updatedDate && (
							<div class="last-updated-on">
								Last updated on <FormattedDate date={updatedDate} />
							</div>
						)
					}
				</div>
				<hr />
			</div>
			<slot />
		</article>
	</main>
	<Footer />
</Layout>
