---
import BaseHead from '../components/BaseHead.astro';
import { ClientRouter } from 'astro:transitions';
import type { ImageMetadata } from 'astro';

type Props = {
	title: string;
	description: string;
	image?: ImageMetadata;
	type?: 'website' | 'article';
	publishedTime?: Date;
	modifiedTime?: Date;
};

const { title, description, image, type, publishedTime, modifiedTime } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={title}
			description={description}
			image={image}
			type={type}
			publishedTime={publishedTime}
			modifiedTime={modifiedTime}
		/>
		<ClientRouter />
	</head>
	<body class="bg-background text-foreground relative flex flex-col px-6 pt-6">
		<slot />
	</body>
</html>
